@use "variables/colors.scss" as colors;

.element-card-wrapper {
  display: flex;
  flex-direction: row;
  background-color: colors.$lightBlue;
  gap: 22px;

  width: 100%;
  height: 150px;
  min-height: 150px;
  border-radius: 10px;
  border-width: 0;
  box-sizing: border-box;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  transition: all 1s ease-out, transform ease 0.3s;

  &:hover {
    transform: scale(1.005);
  }
}


.img-element-card {
  display: flex;
  width: 30%;
  min-width: 120px;
  max-width: 250px;
  height: 100%;
  min-height: 120px;
  max-height: 150px;
  border-radius: 10px 0 0 10px;
  border-width: 0;

  object-fit: cover;
  transition: all ease-out 1s;
}

.description-element-card-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;

  padding: 23px 22px 23px 0;
  box-sizing: border-box;
}

.title-element-card {
  font-size: 20px;
  font-weight: 600;
  width: 100%;

}

.description-element-card {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}


.element-card--active {
  flex-direction: column;
  padding: 25px;

  overflow: auto;

  gap: 22px;

  min-height: calc(100% - var(--list-top-position));
  height: calc(100% - var(--list-top-position));
  max-width: 100%;
  //transition: all 1s ease-out;

  &:hover {
    transform: none;
  }

  &::-webkit-scrollbar {
    width: 0
  }

  .img-element-card {
    width: 100%;
    max-width: 100%;
    height: 250px;
    min-height: 250px;
    max-height: 400px;
    border-radius: 10px;
    border-width: 0;
    object-fit: cover;
  }

  .description-element-card {
    //display: flex;
    //flex: 1;
    max-width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    word-break: break-word; /* более мягкий вариант (предпочитает перенос по пробелам) */
    text-indent: 1.2em; /* красная строка */
    margin: 0 0 12px 0; /* расстояние между абзацами */
    line-height: 1.5;
    white-space: pre-wrap; /* сохраняет переносы внутри абзаца, если они есть */
  }
}

