// Основные цвета
$darkBlue: #25334E;
$blue: #3B4860;
$lightBlue: rgba(213, 226, 251, 1);

$bodyBg: $blue;
$headerBg: $darkBlue;
$navMenuBg: white;
$navMenuElementActiveBg: $lightBlue;
$navMenuElementHoverBg: rgba(213, 226, 251, 0.75);